<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <main>
      {{ partial "navigation.html" . }}
      <header>
        <div class="wrapper">
          <h1 class="title">Damian Nicholson</h1>
          {{ .Content }}
        </div>
      </header>
      <ul class="archive">
      {{ range .Data.Pages }}
        {{ if .Title }}
          <li>
            <div>{{ .Date.Format "January 2 2006" }}</div>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      {{ end }}
      </ul>
      {{ partial "footer.html" . }}
    </main>
    {{ partial "tracking.html" . }}
  </body>
</html>
