* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #fff4d8;
}

body {
  -webkit-font-smoothing: antialiased;
  border-top: 4px solid #a212d1;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 21px;
  line-height: 36px;
  text-rendering: optimizeLegibility;
}

#main {
  display: grid;
  grid-template-columns:
    [full-start] minmax(10px, 1fr) [main-start] minmax(320px, 700px)
    [main-end] minmax(10px, 1fr) [full-end];
}

#main > * {
  grid-column: main;
}

#main header {
  grid-column: full;
  padding: 150px 10px;
}

.skip-link {
  background: #12D1A2;
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: 4px;
  width: 100%;
  outline: 0;
}

.skip-link:focus {
  left: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  font-size: 68px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 87px;
}

nav {
  text-transform: uppercase;
  padding: 8px 0;
  font-size: 13px;
}

nav li {
  margin-right: 35px;
}

a {
  color: #000;
  font-weight: 700;
}

a:focus {
  outline: 4px solid #d1a212;
}

a:hover {
  color: #12d1a2;
}

.meta {
  font-size: 18px;
  margin-top: 20px;
}

article {
  display: grid;
  grid-row-gap: 26px;
}

article img {
  display: block;
  height: auto;
  margin: 80px auto;
  max-width: 100%;
}

header {
  padding: 150px 0;
  background: #fafafa;
  margin-bottom: 120px;
}

article header {
  grid-column: full;
}

article ol,
article ul {
  list-style-position: inside;
}

article li {
  line-height: 45px;
}

p code {
  font-family: Menlo, Consolas, monospace;
}

article blockquote {
  background: #fafafa;
  padding: 20px;
  border-left: 4px solid #a212d1;
}

nav ul,
footer ul {
  display: flex;
  list-style: none;
}

footer {
  font-size: 20px;
  padding-bottom: 55px;
  text-transform: lowercase;
}

footer li:after {
  content: ' / ';
  opacity: 0.3;
  padding: 0 20px;
  display: inline-block;
}

footer li:last-child:after {
  content: none;
}

.archive {
  list-style: none;
  margin-bottom: 55px;
}

.archive li {
  margin-bottom: 26px;
}

.archive a {
  font-size: 54px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: -2px;
}

.meta,
.archive div {
  color: #727272;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  text-transform: lowercase;
  justify-content: space-between;
  margin-bottom: 26px;
}

p code,
article li code {
  color: #f25a00;
}

article pre code {
  font-size: 19px;
}

.title {
  font-size: 96px;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer ul {
    flex-direction: column;
  }

  footer li:after {
    content: none;
  }

  .title {
    font-size: 80px;
  }

  .archive a {
    font-size: 40px;
  }
}

#til li {
  padding-bottom: 26px;
}

.highlight {
  padding-top: 40px;
  overflow: hidden;
}

.chroma {
  padding: 20px;
  overflow-x: scroll;
}

.chroma::-webkit-scrollbar {
  display: none;
}

.token.comment {
  color: #9f9f8f;
}

.token.tag .token.attr-name,
.token.string {
  color: #f25a00;
}

.token.boolean,
.token.keyword {
  color: #28c6e4;
}

.token.tag,
.token.operator {
  color: #f92672;
}

.token.tag .token.attr-value,
.token.function {
  color: #6aaf19;
}

.token.number {
  color: #ae81ff;
}

.token.parameter {
  color: #fd971f;
}

.token.punctuation {
  color: #272822;
}

.gist {
  overflow: hidden;
}