* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #fff4d8;
}

body {
  -webkit-font-smoothing: antialiased;
  border-top: 4px solid #A212D1;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,sans-serif;
  font-size: 21px;
  line-height: 36px;
  text-rendering: optimizeLegibility;
}

main {
  display: grid;
  grid-template-columns: [full-start] minmax(10px, 1fr) [main-start] minmax(320px, 700px) [main-end] minmax(10px, 1fr) [full-end];
}

main > * {
  grid-column: main;
}

main header {
  grid-column: full;
  padding: 150px 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

h1 {
  font-size: 68px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 87px;
}

nav {
  text-transform: uppercase;
  padding: 8px 0;
  font-size: 13px;
}

nav li {
  margin-right: 35px;
}

a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.meta {
  font-size: 18px;
  margin-top: 20px;
}

article {
  display: grid;
  grid-row-gap: 26px;
}

.archive a:hover,
article a:hover,
article a:focus {
  text-decoration: underline;
}

article img {
  display: block;
  height: auto;
  margin: 80px auto;
  max-width: 100%;
}

header {
  padding: 150px 0;
  background: #FAFAFA;
  margin-bottom: 120px;
}

article header {
  grid-column: full;
}

article ol,
article ul {
  list-style-position: inside;
}

article li {
  line-height: 45px;
}

article code {
  font-family: Menlo, Consolas, monospace;
}

article blockquote {
  background: #FAFAFA;
  padding: 20px;
  border-left: 4px solid #A212D1;
}

nav ul,
footer ul {
  display: flex;
  list-style: none;
}

footer {
  font-size: 20px;
  padding-bottom: 55px;
  text-transform: lowercase;
}

footer li:after {
  content: " / ";
  opacity: 0.3;
  padding: 0 20px;
  display: inline-block;
}

footer li:last-child:after {
  content: none;
}

.archive {
  list-style: none;
  margin-bottom: 55px;
}

.archive li {
  margin-bottom: 26px;
}

.archive a {
  font-size: 54px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: -2px;
  text-decoration: none;
}

.meta,
.archive div {
  color: #727272;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  text-transform: lowercase;
  justify-content: space-between;
  margin-bottom: 26px;
}

.highlight {
  overflow-x: scroll;
  background: #f8f8f8;
}

.chroma {
  padding: 20px;
}

article p code,
article li code {
  color: #00CC80;
}

article pre code {
  font-size: 19px;
}

.title {
  font-size: 96px;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer ul {
    flex-direction: column;
  }

  footer li:after {
    content: none;
  }

  .title {
    font-size: 80px;
  }

  .archive a {
    font-size: 40px;
  }
}

