*,
*:before,
*:after {
  background: transparent !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #111;
}

body {
  font-size: 12pt;
  line-height: 1.3;
}

.desktop {
  display: none;
}

.print {
  display: block;
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  margin: 0;
  max-width: unset;
}

dl {
  margin-top: 10px;
  grid-template-columns: repeat(auto-fit, 85px 250px);
}

li {
  margin-bottom: 7px;
}

h1 {
  font-size: 28pt;
}

h2 {
  color: #A9A9A9;
  font-size: 18pt;
  border-bottom: 0;
  margin-top: 25px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 18px;
}

h2 + h3 {
  margin-top: 0;
}

hr {
  display: none;
}

.location,
.tenure {
  background: none;
  padding-left: 0;
}

.location {
  margin-left: 10px;
}

.github,
.website,
.home,
.email,
.telephone {
  background: none;
  text-indent: 0;
}

.job-meta {
  margin-bottom: 0;
}

.skills li {
  margin: 0;
  padding: 0;
  border: 0;
}

.skills li:after {
  content: ', ';
  margin-right: 2px;
}

.skills li:last-child:after {
  content: '';
}