---
layout: default
---
<article class="post">
<div class="meta">{{ page.date | date: "%b %d, %Y" }}</div>
{{ content }}
</article>

<ul>
  <li>
  {% if page.older %}
    <a href="{{page.older.url}}">Older</a>
  {% else %}
    Older
  {% endif %}
  </li>
  <li>
  {% if page.newer %}
    <a href="{{page.newer.url}}">Newer</a>
  {% else %}
    Newer
  {% endif %}
  </li>
</ul>

<div class="pane" id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/12105/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
